.register {
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dfebff2c;
  padding: 30px;
  border-radius: 30px;
}
.register__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}
.register__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: rgb(3, 15, 43);
}
.register__google {
  background-color: #4285f4;
}
.register div {
  margin-top: 7px;
}

.register_input {
  margin: '10px 10px 15px 10px';
  border: 0;
}

.MuiInputBase-root-MuiFilledInput-root {
  background-color: white;
}
