.navbar {
  background-color: rgb(59, 37, 120);
  height: 80px;
  width: 100%;
}

.navbar-link {
  text-decoration: none;
  color: rgb(39, 39, 39);
}

.navbar-link-desktop {
  text-decoration: none;
  color: rgb(33, 57, 146);
}

.MuiPaper-root.MuiDrawer-paper {
  height: 100%;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.3) !important;
}
